@model ElectricityBillGeneration.Models.ElectricityBill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>ElectricityBill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsumerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsConsumed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsConsumed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumerNumber }) |
    @Html.ActionLink("Back to Registry", "Index")
</p>
